:root{
    --accent: rgba(255, 255, 255, 1);
}
[ui-nodrag]::selection{
    background-color: transparent;
}
[tromoSM=wrap-ini]{
    position: absolute;
    left: 0;
    margin-left: 75px;
}
@keyframes open-notiff{
    from{
        opacity: 0;
        transform: translateX(70px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes close-notiff{
      from{
        opacity: 1;
  height: 100%;
    }
    50%{
  height: 100%;
        opacity: 0;
    }
    to{
        height: 0px;
        transform: scale(0);
        width: 0px;
  position: absolute;
        visibility: hidden;
        opacity: 0;
    }
}
[tromoSM=aside-notif]{
  display: flex;
  width: 270px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  justify-content: center;
  margin: 10px 105px;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: column;
  right: 0;
}
[tromoSM=main-title-nottf]{
    font-weight: 700;
}
[tromoSM=close-nottif-bt]{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.185);
    padding: 10px;
    width: 5px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items:center;
    align-self: center;
    margin: 7px;
    will-change: transform;
    transition: 0.2s;
    border-radius: 50px;
    font-size: large;
    height: 5px;
}
[tromoSM=close-nottif-bt]:hover{
    background-color: rgba(0, 0, 0, 0.233);
    transform: scale(1.2);
}
[tromoSM=close-nottif-bt]:active{
    transform: scale(0.9);
}
notification{
  padding: 20px 50px;
  width: 100%;
  min-height: 50px;
  display: none;
  top: 0;
  cursor: pointer;
  flex-wrap: wrap;
  border-radius: 20px;
  align-items: center;
  height: 100%;
  transition: 0.2s;
  overflow: hidden;
  opacity: 0;
  position: relative;
  backdrop-filter: brightness(0.7) blur(25px);
}
notification:hover{
  backdrop-filter: brightness(0.6) blur(25px);
}
notification:active{
  backdrop-filter: brightness(0.5) blur(25px);
}
notification img{
    width: 50px;
    margin: 0px 15px;
    left: 0;
    position: absolute;
}
[tromoSM=last-t]{
   bottom: 0;
   left: 0;
   position: fixed;
   display: none;
   backdrop-filter: blur(10px);
   z-index: +9999;
   font-size: 14px;
   margin: 5px;
   text-shadow: 0px 0px 5px black;
   justify-content: center;
   align-items: center;
}
[tromoSM=last-t] span{
    animation: heart-w 0.5s 1 forwards;
    margin-left: 5px;
}
@keyframes heart-w{
    from{
   font-size: 14px;
   color: aliceblue;
    }
    50%{
   font-size: 10px;
   transform: translateX(2px);
   color: pink;
    }
    to{
   font-size: 14px;
   filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.253));
   color: hotpink;
}
}
[tromoSM=accentgrab-color]{
    width: 1px;
    height: 1px;
}
[tromoSM="full-l"]{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: +9999999999999;
}
[tromoSM="load-cont"]{
width: 150px;
position: relative;
}
[tromoSM=loaderIR]{
background-color: var(--accent);
box-shadow: 0px 0px 14px var(--accent);
width: 100px;
position: absolute;border-radius: 50px;
height: 3px;
animation: open-load 1s 0ms infinite;
}
@keyframes open-load{
    from{
        width: 3px;
        left: 0;
    }
    50%{
        left:calc(50% - 50px);
        width: 100px;
    }
    to{
        width: 3px;
        left: calc(100% - 3px);
    }
}

[tromoSM=social]{
    background-color: rgba(0, 0, 0, 0.267);
    width: 40px;
    height: 40px;
    overflow: hidden;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50px;    
    border: none;
    will-change: tranform;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
    backdrop-filter: blur(30px);
}
[tromoSM=social]:hover{
   /*
   Liquid glass ahh-- use aff
   box-shadow: 5px 5px 5px -5px rgba(255, 255, 255, 0.205) inset, -5px -5px 5px -5px rgba(255, 255, 255, 0.205) inset, 0px 0px 5px rgba(0, 0, 0, 0.363);  */
    background-color: rgba(0, 0, 0, 0.658);
    transform: 0.1s  cubic-bezier(0.075, 0.82, 0.165, 1) ;
}
[tromoSM=social]:active {
    transform: scale(0.7);
}
[tromoSM=social]:active img{
    transform: scale(0.7);
    transform: 0.1s  cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

[tromoSM=ui-bann]{
    position: fixed;
    filter: blur(15px) brightness(1.5);
    width: 110vw;
    height: 110vh;
    display:  none;
    object-fit: cover; 
    animation: ui-sta 0.5s 0ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    will-change: transform;
}
@keyframes ui-sta{
    from{
    filter: blur(15px) brightness(1.5);
    transform: scale(1.5);
    }
    to{ 
     transform: scale(1);
    filter: blur(15px) brightness(1.2);
    }
}
[lnk]{
    width: 25px;
}
[tromoSM="ui-wrap-le"]{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    margin: 15px;
}
[tromoSM=bttn-social-tx]{
color: rgb(255, 255, 255);
}
[tromoSM=bttn-las]{
display: flex;
flex-wrap: wrap;
font-size: medium;
cursor: pointer;
position: relative;
justify-content: center;
background-color: transparent;
border: 1px solid #00000031;
border-radius: 50px;
margin: 2px 0px;
align-items: center;
transition: 0.2s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
font-weight: 700;
width: 100%;
height: 40px;
}
[tromoSM=bttn-las]:hover{
border: 1px solid #00000000;
background-color: #00000031;
}
[tromoSM=bttn-las]:active{
background-color: #00000031;
transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
transform: scale(0.8);
}
[tromoSM=social-w]{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;   
}
[tromoSM=stunt-w]{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
[tromoSM=ico]{
    width: 25px;
    height: 25px;
}
[tromoSM=head-right]{
    right: 0;
    top: 0;
    margin: 10px;
    position: absolute;
}
[ui]::selection{
    background-color: transparent;
    color: transparent;
}
[tromoSM=prof-t]{
   aspect-ratio: 1/1;
    object-fit:cover ;
    opacity: 0;
    width: 40px;
    transition: 0.3s  cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translate(-10px,10px);
    position: absolute;
}
[tromoSM=fill-prof]{
    aspect-ratio: 1/1;
    object-fit:cover ;
    width: 120px;
    will-change: transform;
    transform: scale(1);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
[tromoSM=prof-w]:hover [tromoSM=prof-t] {
    transform: translate(0px);
    opacity: 1;
}
[tromoSM=prof-w]:hover [tromoSM=fill-prof] {
 transform: scale(1.3);
 filter: brightness(0.5) blur(5px);
}

[tromoSM=prof-w]{
    width: 120px;
    border-radius: 500px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    overflow: hidden;
    position: relative;

}
[tromoSM=full-s]{
 width: 100%;
 height: 100%;
 position: absolute;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;    
 background-color: black;
}
[tromoSM=form-s]{
    width: fit-content;
    padding: 25px 30px;
    background-color: transparent;
    position: relative;
    margin: 20px 10px;
    border-radius: 30px;   
    vertical-align: middle;
    will-change: transform;
    align-self: center;
    display: none;
    backdrop-filter: brightness(0.7) blur(25px);
    flex-wrap: wrap;
    box-shadow: 0px 0px 30px #0000004b;
   justify-content: center;
 align-items: center;    
 animation: open-form 0.3s ease 1 forwards;
 flex-direction: column;
}
@keyframes open-form{
    from{
    transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
    }
}
[tromoSM=fill-ussr]{
    font-family: InterVar,SF Pro,Segoe UI,sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: aliceblue;
    text-align: center;
}
[tromoSM=fill-ussr]{
    margin: 2px 0px;
}
[tromoSM=fill-des]{
    font-size: smaller;
    margin: 5px 0px;
}
html,body{
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    color: aliceblue;
    font-family: InterVar,SF Pro,Segoe UI,sans-serif;
}
p{
    padding: 0;
    margin: 0;
    font-family: InterVar,SF Pro,Segoe UI,sans-serif;
}
